/* Base Application Styles */
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/icons/turn-arrow.eot') format("embedded-opentype"), /* IE9*/
  url('../fonts/icons/turn-arrow.woff') format('woff'), /* chrome、firefox */
  url('../fonts/icons/turn-arrow.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/icons/turn-arrow.svg') format('svg'); /* iOS 4.1- */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
  background-color: #222;
}
.content{
  width: 100%;
  height: 100%;
}
/* stage --start */
.stage{
  position: relative;
  width: 100%;
  height: 100%;
}
/* stage --end */
/* image -- start */
.image-sec{
   position: relative;
   width: 100%;
   height: 100%;
   overflow: hidden;
   background-color: #eee;
 }
.image-figure{
  position: absolute;
  display: block;
  width: 280px;
  height: 480px;
  margin: 0;
  padding: 40px;
  background-color: #fff;
  cursor: pointer;
  transform-origin: 0 50% 0;
  transform-style: preserve-3d;
  transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
}
.image-figure.is-inverse {
  transform: translate(320px) rotateY(180deg);
}
.img-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
  color: #666;
  transform: rotateY(180deg) translateZ(1px);
  backface-visibility:hidden;

  background: #fff;
}
.image-figure>img{
  display: block;
  width: 200px;
  height: 360px;
}
figcaption{
  text-align: center;
}
figcaption>.image-title{
  margin-top: 20px;
  color: #a7a0a2;
  font-size: 16px;
}
/* image -- end */
/* controller --start */
  .controller-nav{
    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 101;
    width: 100%;
    text-align: center;
  }
  .controller-nav>.controller-unit{
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-color: #aaa;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    transform: scale(0.5);
    vertical-align: middle;
    transition: transform .6s ease-in-out,background-color 0.3s;
  }
.controller-nav>.controller-unit.is-center{
  transform: scale(1);
}
.is-center::after{
  color: #fff;
  font-family: 'iconfont';
  line-height: 30px;
  font-size: 80%;
  content: '\e600';
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
}
.controller-nav>.controller-unit.is-inverse{
  background-color: #555;
  transform: rotateY(180deg);
}
/* controller --end */
